html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  background: url("../images/freerunner-1.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

h1 {
	color: red;
	position: absolute;
	top: 20px;
	left: 20px;
}

.logo {
	width: 150px;
	padding: 20px;
	display: block;
	margin: 0 auto;
}

a {
	display: inline-block;
	margin-top: 40px;

	padding: 10px 20px;
	background-color: #007fff;
	color: white;
	font-size: 16px;
	text-decoration: none;
	border-radius: 5px;
}


h2, h3 {
	color: #fff;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
}

video {
	margin: 0 auto;
	display: block;
	width: 80%;
}

h2 {
	font-size: 60px;
	margin: 20px;
}

h3 {
	font-size: 20px;
	margin: 20px;
	text-transform: uppercase;
}

@media (max-width: 500px) {
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 14px;
	}
}

.center {
	text-align: center;
	padding-top: 100px;
}
